{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "off",
    "no-console": "warn",
    "no-debugger": "warn",
    "no-var": "warn",
    "semi": "warn",
    "indent": "warn",
    "no-import-assign": "off",
    "no-multi-spaces": "warn",
    "space-in-parens": "warn",
    "no-multiple-empty-lines": "warn",
    "no-use-before-define": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ]
}