body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    width: 618px;
    font-family: "Calibri", serif;
}

.operation_block {
    display: flex;
    flex-direction: column;
}

.firs_line, .second_line, .third_line, .fourth_line, .fifth_line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item {
    color: #fff;
    padding: 10px;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    background-color: #625f5f;
    border-radius: 1px;
    margin: 1px;
}

.item:active {
    font-size: 22px;
}

.value {
    color: #fff;
    padding-right: 8px;
    font-size: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #212121;
    box-sizing: border-box;
    height: 70px;
}

.upper {
    font-size: 14px;
    margin-left: 3px;
    margin-top: -20px;
}

.down {
    font-size: 14px;
    margin-top: 12px;
}

.equal, .divide, .multiplication, .subtraction, .addition {
    background-color: #ff7c01;
}

.zero {
    width: 102px;
}

.number {
    background-color: darkgray;
}

.left__button {
    border-bottom-left-radius: 10px;
}

.right__button {
    border-bottom-right-radius: 10px;
}